*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.outerdiv{
    width:100vw;
    height:100vh;
    background-color: blueviolet;
    display: grid;
    place-items: center;
}
.innerdiv{
    width:80vw;
    height: 70vh;
    display: grid;
    place-items: center;
}
.h{
    padding: 30px;
    color: aliceblue;
    text-shadow: 0 1px 8px ;
    font-size: 100px;
}